/* General Styles */
body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

nav {
    background-color: rgba(22, 33, 62, 0.9);
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

header {
    text-align: center;
    margin-top: 60px; /* Space for fixed nav */
}

h1 {
    font-size: 2.5em;
}

/* New styles for headings and paragraphs */
h2 {
    margin-top: 20px; /* Space above each heading */
    margin-bottom: 10px; /* Space below each heading */
}

p {
    margin-bottom: 20px; /* Space below each paragraph */
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.main-content {
    flex: 1;
    padding: 20px;
    background: rgba(22, 33, 62, 0.8); /* Semi-transparent Deep Purple */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.side-images {
    display: flex;
    flex-direction: column;
}

.side-image {
    width: 200px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(22, 33, 62, 0.9);
    position: relative;
    bottom: 0;
    width: 100%;
}