#mission-vision, #values, #leadership {
    padding: 20px;
    margin: 20px;
    background: rgba(187, 178, 178, 0.532);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.team-member {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}